.chat{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100dvh;
  background: var(--chat);
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
  overflow-y: hidden;
}

.main-header {
  padding: 16px;
  background: var(--header);
  font-weight: bold;
  font-size: 1.2rem;
}

.mobile-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: var(--header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-weight: bold;
  font-size: 1.2rem;
}

.main-chat-screen{
  flex: 1;
  overflow-y: auto;
  padding: 5px 16px;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  height: 85dvh;
}

.main-chat-screen::-webkit-scrollbar {
  width: 8px;
  background: hide;
}

.main-chat-screen::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.12);
  border-radius: 4px;
  width: 4px;
}

.main-chat-screen::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.2);
  cursor: grab;
}

.main-chat-screen::-webkit-scrollbar-thumb:active{
  cursor: grabbing;
}

.main-message{
  padding: 16px;
  background: var(--foot);
  display: flex;
  align-items: center;
  gap: 12px;
}

.message-send{
  background: var(--send);
  flex: .1;
  margin-top: 0;
}

.message{
  display: flex;
  align-items: flex-start;
  gap: 2%;
  padding-top: 10px;
  width:100%;
}

.message-pfp{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: var(--send);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-weight: 700;
  font-size: 1rem;
}

.message-user{
  font-weight: 700;
  color: var(--text);
  font-size: 1rem;
}

.message-info{
  width:100%;
  display: flex;
  flex-direction: column;
}

.message-meta{
  display:flex;
  width:100%;
  flex-direction: row;
  align-items: center;
}

.message-time{
  color: var(--time);
  font-size: 0.85rem;
  margin-left: auto;
}

.message-text{
  font-size: '1rem';
  margin-top: '2px';
}

@media (min-width: 1000px) {
  .mobile-header {
    display: none;
  }

  .main-header{
    display: flex;
  }
}

@media (max-width: 999px) {
  .mobile-header {
    display: flex;
  }

  .main-header {
    display: none;
  }
}


