/* this stuff is left sidebar*/
.leftsidebar {
  width: 250px;
  background: var(--side);
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;
  height: 100dvh;
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
  justify-content: space-between;
  flex-shrink: 0;
}

@media (min-width: 1000px) {
  .leftsidebar {
    width: 250px;
    position: relative;
    transform: none;
  }
}

@media (max-width: 999px) {
  .leftsidebar {
    position: fixed;
    top: 4.5dvh;
    height: 95.5dvh;
    left: 0;
    min-width: 50vw;
    transform: translateX(-100%);
  }

  .leftsidebar.open {
    transform: translateX(0);
  }
}

.top{
  display: flex;
  flex-direction: column;
}

.tabs{
  display: flex;
  flex-direction: column;
}

.tabs::-webkit-scrollbar{
  background: transparent;
  width: 3px;
}

.tabs::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.25);
}

.bottom{
  margin-top: auto;
}

.menuProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  border: none;
  border-radius: 8px;
  padding: 0px 0px;
  font-weight: bold;
  opacity: 1;
  width:97%;
  margin-top: 5px;
  background: var(--button);
  overflow: hidden;
  box-shadow: 0 4px 32px rgba(0,0,0,0.4);
}

.menuProfile.open{
  min-height: 50dvh;
}

.menu-input{
  background-color: rgb(82, 82, 82);
  border: 1px solid #222;
}

.menu-button{
  box-shadow: 0 4px 32px rgba(0,0,0,0.4);
}

.logout{
  background-color:  #d93025;
}

.logout:hover{
  background-color:  #b3251b;
  opacity:0.7;
}

.customMode{
  background-color: bisque;
  color: white;
  transition-duration: 1s;
}

.customMode::after{
  content : "Light Mode";
}

.customMode.active {
  background-color: black;
  color:white;
  content: "Dark Mode";
}

.customMode.active::after{
  content : "Dark Mode";
}

.colorSelection{
  height: 70%;
  color:#fefeff;
}

.colorSelect{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:0px;
  padding:0px;
  align-items: center;
}


.color-select-text{
  white-space: nowrap;
  padding:0px;
  padding-right: 3%;
}

.color-select-select{
  color:#fefeff;
  width:100%;
}

.customMode-save{
  height:2dvh;
  background-color: black;
}

.slide{
  overflow-y: scroll;
}

.slide::-webkit-scrollbar{
  background: transparent;
  width: 3px;
}

.slide::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.15);
}
