
.rightsidebar{
  background: var(--side);
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100dvh;
  color: var(--text);
  font-family: 'Segoe UI', system-ui, sans-serif;
  flex: 0 0 17%;
  min-width: 280px;
  max-width: 420px;
}

@media (min-width: 1000px) {
  .rightsidebar {
    flex: 0 0 17%;
    position: relative;
    transform: none;
  }
}

@media (max-width: 999px) {
  .rightsidebar {
    position: fixed;
    top: 4.5dvh;
    height: 95.5dvh;
    right: 0;
    max-width: 20dvw;
    flex: 0;
    transform: translateX(100%);
  }

  .rightsidebar.open {
    transform: translateX(0);
  }
}

.big{
  color:var(--text);
  font-size: 30px;
  align-self: center;
}

.profiles{
  width: 100%;
  flex: 1;
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.profiles::-webkit-scrollbar{
  background: transparent;
  width:0px;
}

.profiles::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.25);
}

.profile{
  color:var(--text);
  display:flex;
  flex-direction: column;
  text-align: center;
  min-height: min(8dvw,10dvh);
  width: 100%;
  margin-bottom: 10px;
  border-radius: 12px;
  gap:4px;
  padding: 5px 7px;
  background-color: var(--button);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.profile.open{
  min-height: 90dvh;
}

.pfp{
  height: min(5dvw, 5dvh);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--send);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  font-weight: bold;
  margin-bottom: 5%;
  font-size: 1rem;
}

@media (max-width: 999px) {
  .pfp{
    font-size:.7rem
  }
}

.profile::-webkit-scrollbar{
  background: transparent;
}

.profile::-webkit-scrollbar-thumb{
  border-radius: 10px;
  width: 1px;
  background: rgba(0,0,0,0.25);
}

.userinfo{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.usernameHolder{
  width: 100%;
  overflow-x: none;
}
.username{
  font-weight: 700;
  font-size: min(3vh,3vw);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.aboutme{
  display:flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  align-items: center;
  text-align: center;
}

.umap{
  min-height: 10dvh;
  max-height: 10dvh;
  text-align: center;
}

.small{
  font-size: min(2dvh,2vw);
}

.reg{
  font-weight: 500;
  line-height: 1.1;
}
